/*!
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 *
 * 03.buttons.less
 */

.wp-core-ui {
    .button,
    .button-primary,
    .button-secondary {
        border-radius: 20px;
        border-width: 0;
        font-size: 11px;
        padding: 0 24px;
        text-shadow: none;
        vertical-align: middle;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .button-primary {
        background-color: @loginbutton;
        height: auto;
        padding: 6px 24px;
    }

    .button.button-primary.button-hero {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
    border-radius: 20px;
    border-width: 0;
    height: auto;
    padding: 6px 24px;
    text-shadow: none;
}

.spinner {
    margin-top: 11px;
}
