/*!
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 *
 * 05.adminbar.less
 */

@height: 32px;

/*!
 * WP admin bar display
 */
#wpadminbar {
    height: @height;
    padding: 0 10px;
    position: static;
    width: auto;

    * {
        line-height: @height;
    }

    .quicklinks .ab-empty-item,
    .quicklinks a,
    .shortlink-input {
        height: @height;
    }
    .quicklinks .menupop ul li a,
    .quicklinks .menupop.hover ul li a {
        color: @skelmetal;
    }

    .ab-top-menu > li.hover > .ab-item,
    .menupop .ab-sub-wrapper, .shortlink-input,
    &:not(.mobile) .ab-top-menu > li:hover > .ab-item,
    .ab-top-menu > li.hover > .ab-item {
        background-color: @graydarker;
    }

    #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
        margin-left: 26px;
        margin-right: 26px;
    }
    #wp-admin-bar-user-info span {
        height: auto;
    }

    .ab-empty-item,
    a.ab-item,
    > #wp-toolbar span.ab-label,
    > #wp-toolbar span.noticon,
    .ab-icon:before,
    .ab-item:before,
    #adminbarsearch:before {
        color: @skelmetal;
    }
}
