/*!
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 *
 * 10.messages.less
 */

.notice, #update-nag, .update-nag, div.updated, div.error {
    background-color: fade(@skelblack, 2.5%);
    border-radius: 100px;
}

#update-nag, .update-nag {
    display: block;
    margin: 25px 4px 0 2px;
}
