{% block header %}{% endblock %}

<div id="{% block id %}{% endblock %}-content" class="olz-field {% block class %}{% endblock %}">
    {% if not post %}
        <h3 class="olz-title">
            {% block label %}{% endblock %}
            {% block overall %}{% endblock %}
        </h3>
    {% endif %}

    {% block field %}{% endblock %}
</div>

{% block footer %}{% endblock %}
