{% extends "@core/fields/page.html.twig" %}

{% block id %}{{ id }}_search{% endblock %}
{% block class %}search_plugin{% endblock %}
{% block label %}{% endblock %}

{% block field %}
    {% if status != 200 %}
        <div class="olz-message countn">
            {{ t_es_notify_n|raw }}
        </div>
    {% else %}
        {% if count < 1 %}
            <div class="olz-message count0">
                {{ t_es_notify_0|raw }}
            </div>
        {% else %}
            <div class="olz-message counts">
                <p>{{ t_es_notify_s|raw }}</p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
