{% if count > 2 %}
    <label for="checkall-{{ id }}" class="olh-checkall">
        {{ label|raw }}
        <input type="checkbox" id="checkall-{{ id }}"{{ count == val|length ? ' checked="checked"' : '' }} />
    </label>
{% endif %}
