{% set message = request ? request : error %}
{% set style = request ? 'updated' : 'error' %}

<div id="setting-error-settings_updated" class="{{ style }} settings-error notice is-dismissible">
    <p><strong>{{ message|raw }}</strong></p>
</div>
