<tr id="{% block id %}{% endblock %}-field" class="olz-field {% block class %}{% endblock %}">
    <th style="width:200px">
        {% block header %}{% endblock %}
        {% block label %}{% endblock %}
        {% block overall %}{% endblock %}
    </th>
    <td>
        {% block field %}{% endblock %}
        {% block description %}{% endblock %}
        {% block footer %}{% endblock %}
    </td>
</tr>
