<div id="{% block id %}{% endblock %}-field" class="zeus-mb-item {% block class %}{% endblock %}">
    <div class="zeus-mb-label">
        {% block header %}{% endblock %}
        {% block label %}{% endblock %}
        {% block overall %}{% endblock %}
        <p class="description">{% block description %}{% endblock %}</p>
    </div>
    <div class="zeus-mb-content">
        {% block field %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
</div>
