<div id="{% block id %}{% endblock %}-content" class="olh-field {% block class %}{% endblock %}">
    {% block header %}{% endblock %}

    {% block label %}{% endblock %}
    {% block overall %}{% endblock %}

    {% block field %}{% endblock %}

    <p class="olh-description description">{% block description %}{% endblock %}</p>
    {% block footer %}{% endblock %}
</div>
