<div id="{% block id %}{% endblock %}-control" class="olz-control {% block class %}{% endblock %}">
    <span class="customize-control-title">{% block label %}{% endblock %}</span>
    <span class="description customize-control-description">{% block description %}{% endblock %}</span>

    {% block control %}{% endblock %}
</div>
